<!DOCTYPE html>
<html lang="en" ng-app="tehnoApp">
<head>
    <meta charset="UTF-8">
    <title>Техника</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="js/angular.js"></script>
    <script>
        var getUser = {
            userName:"Meltsov Valerii",
            image:"src"
        };
        var soloList = {
            name: [{text:"lorem1"},
                {text:"lorem2"},
                {text:"lorem3"},
                {text:"lorem4"},
                {text:"lorem5"}]
        };

        var officeList =[{
            city: "Msk",
            addres: "Суворовская площадь д1",
            number: "7767",
            param: "1"
        },{
            city: "Spb",
            addres: "Piterskiy addres",
            number: "1111",
            param: "2"}
        ];
        var items= [{number: "1",
            param2: "text2",
            param3: "text3",
            param4: "text4",
            param5: "text5",
            param6: "text6",
            param7: "text7"
        },{
            number: "2",
            param2: "lorem2",
            param3: "lorem3",
            param4: "lorem4",
            param5: "lorem5",
            param6: "lorem6",
            param7: "lorem7"
        }];
        var tehnoApp = angular.module("tehnoApp",[]);
        tehnoApp.controller("nameCtrl", function ($scope) {
            $scope.name = getUser;
        });
        tehnoApp.controller("soloListCtrl", function ($scope) {
            $scope.text = soloList;
        });
        tehnoApp.controller("officeListCtrl", function ($scope) {
            $scope.text = officeList;
            $scope.itemsScope = items;
        });

    </script>
</head>
<body>

    <div class="container">
        <div class="header"></div>
        <div class="content" ng-controller="nameCtrl">
            <div class="userPhoto"><img src="{{name.image}}" alt="ваше фото"></div>
            <div class="userName" >
                <span>{{name.userName}}</span>
            </div>
            <div class="select" >
                <form action="">
                    <select ng-controller="soloListCtrl">
                        <option selected>Параметры поиска</option>
                        <option ng-repeat="info in text.name" value="{{info.text}}">{{info.text}}</option>
                    </select>
                    <input type="text">
                    <input type="button" value="Поиск">
                </form>
            </div>
            <div ng-controller="officeListCtrl">
                <div class="bigSelect" >
                    <form action="">
                        <select class="optionWidth">
                            <option selected>Город</option>
                            <option ng-repeat="city in text" value="{{city.city}}" ng-click="selectCity()">{{city.city}}</option>
                        </select>
                        <select class="optionWidth optionMidWidth">
                            <option selected>Адресс</option>
                            <option ng-repeat="addres in text" value="{{addres.addres}}">{{addres.addres}}</option>
                        </select>
                        <select class="optionWidth ">
                            <option selected>Номер офиса</option>
                            <option ng-repeat="numberOffice in text">{{numberOffice.number}}</option>
                        </select>
                        <input type="button" value="Поиск">
                    </form>
                </div>
                <div class="showContent" ng-controller="officeListCtrl">
                    <table class="tableStyle">
                        <tr>
                            <th>1</th>
                            <th>2</th>
                            <th>3</th>
                            <th>4</th>
                            <th>5</th>
                            <th>6</th>
                            <th>7</th>
                        </tr>
                        <tr ng-repeat="item in itemsScope">
                            <td>{{item.number}}</td>
                            <td>{{item.param2}}</td>
                            <td>{{item.param3}}</td>
                            <td>{{item.param4}}</td>
                            <td>{{item.param5}}</td>
                            <td>{{item.param6}}</td>
                            <td>{{item.param7}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>